{% set currentPath = path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}
<hr/>
<h2>{{ 'history.log.title'|trans }}</h2>
<div id=logHistory" class="panel-group" role="tablist" aria-multiselectable="true">
    {% for log in logEntities %}
        <div class="panel panel-default">
            <div id="logHeading{{ log.id }}" class="panel-heading" role="button" data-toggle="collapse">
                <a role="button" data-toggle="collapse" data-parent="#logHistory" href="#logs{{ log.id }}"
                   aria-expanded="false" aria-controls="logs{{ log.id }}">
                    {{ log.loggedAt|localizeddate('long') }}
                </a>
                {% if log.username is not null %}
                    <kbd class="pull-right">{{ log.username }}</kbd>
                {% endif %}
            </div>
            <div id="logs{{ log.id }}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="logHeading{{ log.id }}">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>{{ 'history.log.field'|trans }}</th>
                                <th>{{ 'history.log.oldValue'|trans }}</th>
                                <th>{{ 'history.log.newValue'|trans }}</th>
                            </tr>
                            {% for data in log.data %}
                                <tr>
                                    <th>{{ data.name|trans }}</th>
                                    <td>{{ data.old }}</td>
                                    <td>{{ data.new }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% if showRevert %}
                            <a class="btn btn-info btn-block"
                               href="{{ currentPath }}?{{ versionParameter }}={{ log.version }}">
                                {{ 'history.log.revert'|trans }}
                            </a>
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
